$bg-color: #fff;
$nav-color: #b2dfdb;
$nav-font-color: #fff;
$contact-button-color: #26a69a;
$solo-logo-color: #2f6d67;
$break-small: 768px;
$break-medium: 1200px;

$main-font: 'Arima Madurai', cursive;

body {
  background-color: $bg-color;
  font-family: $main-font;
}

.menuNav {
  background-color: $nav-color;
  padding-bottom: 1px !important;
  font-size: 23px;
  @media screen and (max-width: $break-medium) {
    font-size: 20px;
  }
  @media screen and (max-width: $break-small) {
    font-size: 18px;
  }
}

.menuLink {
  color: $nav-font-color !important;
  &:hover {
    color:$solo-logo-color !important;
}
  padding-left: 1.0rem !important;
}

.logo {
  width: 300px;
  padding: 1px 30px 1px 30px;
  margin-left: 1%;
  @media screen and (max-width: $break-medium) {
    max-width: 200px;
  }
}

.contact {
  font-size: 25px;
  padding: 1px 30px 1px 30px;
  background-color: $contact-button-color;
  border-color: transparent;
}
.contact:hover {
  background-color: #a2d8d3;
  border-color: transparent;
}

.headerImage {
  background-image: url("../header2.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  position: relative;
  width: 100%;
  padding: 0;
}

.logoBig {
  background-image: url("../logoBig.png");
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 408px;
  height: 240px;
  @media screen and (max-width: $break-small) {
    width: 204px;
    height: 120px;
  }
}

.cardTitle {
  border: 1px solid black;
  background-color: black;
  color: #fff;
  font-family: $main-font;
  font-size: 24px;
  padding: 10px;
}

.sidebarLeft {
  padding-left: 5%;
  padding-right: 5%;
}

.sidebarLeftItem {
  margin-bottom: 5%;
}

.blogImage {
  width: 33%;
  max-height: 300px;
  object-fit: cover;
}

.blogTitle {
  text-align: center;
  text-transform: uppercase;
}

.blogCard {
  box-shadow: 0px 3px 10px 0px rgba(43,43,43,0.52);
}
.footer {
  min-height: 200px;
  background-color: #a2d8d3;
  text-align: center;
}

.termsContent {
  max-width: 1200px;
}
.termsBody {
  font-size: 15px;
}

.orderList {
  list-style-type: none;
  padding-left: 0;
}

.adapt {
  width: auto !important;
  margin: 0 auto;
  display: block;
}

.noMargin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.addMargin {
  margin-bottom: 10px !important;
}

.union {
  width: 600px;
  @media screen and (max-width: $break-small) {
    width: 300px;
  }
}

.about {
  object-fit: contain;
  max-width: 400px;
  @media screen and (max-width: $break-medium) {
    max-width: 300px;
  }
}